<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{ siteUrl('/') }}">
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta name="author"      content="{{ author|default('Jason Coward') }}">

    <title>{{ title|default('Untitled') }} | {{ subtitle|default('xPDO.org') }}</title>

    <link rel="shortcut icon" href="assets/images/gt_favicon.png">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    {% block headExtra %}{% endblock %}
</head>
{% block body %}
<body{% if bodyClass is not empty %} class="{{ bodyClass }}"{% endif %}>
{% block navbar %}
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top headroom" >
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="{{ urlFor('Home') }}"><img src="assets/images/logo.png" alt="{{ title }}"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li{% if routeName == 'Home' %} class="active"{% endif %}><a href="{{ urlFor('Home') }}">Home</a></li>
                <li{% if routeName == 'Downloads' %} class="active"{% endif %}><a href="{{ urlFor('Downloads') }}">Download</a></li>
                <li{% if routeName == 'News' %} class="active"{% endif %}><a href="{{ urlFor('News') }}">News</a></li>
                <li><a href="https://github.com/modxcms/xpdo/">@ GitHub</a></li>
                {#<li class="dropdown">#}
                    {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>#}
                    {#<ul class="dropdown-menu">#}
                        {#<li><a href="sidebar-left.html">Left Sidebar</a></li>#}
                        {#<li class="active"><a href="sidebar-right.html">Right Sidebar</a></li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li><a href="contact.html">Contact</a></li>#}
                {#<li><a class="btn" href="signin.html">SIGN IN / SIGN UP</a></li>#}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->
{% endblock %}

{% block header %}
<header id="head" class="secondary"></header>
{% endblock %}

{% block content %}
<div class="container">

</div>	<!-- /container -->
{% endblock %}

{% block footer %}
<!-- Social links. @TODO: replace by link/instructions in template -->
{#<section id="social">#}
    {#<div class="container">#}
        {#<div class="wrapper clearfix">#}
            {#<!-- AddThis Button BEGIN -->#}
            {#<div class="addthis_toolbox addthis_default_style">#}
                {#<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>#}
                {#<a class="addthis_button_tweet"></a>#}
                {#<a class="addthis_button_linkedin_counter"></a>#}
                {#<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>#}
            {#</div>#}
            {#<!-- AddThis Button END -->#}
        {#</div>#}
    {#</div>#}
{#</section>#}
<!-- /social links -->

<footer id="footer" class="top-space">

    <div class="footer1">
        <div class="container">
            <div class="row">

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Support</h3>
                    <div class="widget-body">
                        <p><a href="irc://irc.freednode.org/xpdo">#xpdo @ irc.freenode.org</a></p>
                        <p><a href="https://github.com/modxcms/xpdo/issues/">GitHub Issues</a></p>
                    </div>
                </div>

                {#<div class="col-md-3 widget">#}
                    {#<h3 class="widget-title">Follow me</h3>#}
                    {#<div class="widget-body">#}
                        {#<p class="follow-me-icons">#}
                            {#<a href=""><i class="fa fa-twitter fa-2"></i></a>#}
                            {#<a href=""><i class="fa fa-dribbble fa-2"></i></a>#}
                            {#<a href=""><i class="fa fa-github fa-2"></i></a>#}
                            {#<a href=""><i class="fa fa-facebook fa-2"></i></a>#}
                        {#</p>#}
                    {#</div>#}
                {#</div>#}

                <div class="col-md-9 widget">
                    <h3 class="widget-title">Try xPDO 3 using Composer</h3>
                    <div class="widget-body">
                        <p>Now it couldn't be easier to include and start using the latest development branch of xPDO in your project:</p>
                        <pre>composer require xpdo/xpdo ^3.0@dev</pre>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            <a href="{{ urlFor('Home') }}">Home</a> |
                            <a href="{{ urlFor('Downloads') }}">Download</a> |
                            <a href="{{ urlFor('News') }}">News</a> |
                            <a href="https://github.com/modxcms/xpdo/">@ GitHub</a>
                            {#<a href="sidebar-right.html">Sidebar</a> |#}
                            {#<a href="contact.html">Contact</a> |#}
                            {#<b><a href="signup.html">Sign up</a></b>#}
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2006 &ndash; {{ "now"|date('Y') }}, Jason Coward. Site design template by <a href="http://gettemplate.com/" rel="designer">gettemplate</a>
                        </p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

</footer>
{% endblock %}

{% block scripts %}
<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="assets/js/headroom.min.js"></script>
<script src="assets/js/jQuery.headroom.min.js"></script>
<script src="assets/js/template.js"></script>
{% endblock %}

</body>
{% endblock %}
</html>
